<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
					<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
				</header>


				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}
						
					</nav>

				<!-- Main -->
				<div id="main">

          <article class="post featured">
            <header class="major">
              <h2><a href="#">Write about... things?</a></h2>
				<p>
					This line is written in squiggly font.
				</p>
            </header>
						<p>
							According to this research, people underestimate how much they will change in the future.  (add ref?)
							And people's memories are known to be really biased. (add ref)
							I'd like to get a good snapshot of my thoughts, perspectives, and interests, so that I could look back many years down the road. Even things of little significance are interesting and sometimes enlightening in retrospect. 
					
							When I look back on some of these posts, say 10 years after I first wrote it, I hope I get embarrassed. And glad that I've learned so much more afterwards. 

							Writing's a good workout for the brain. Helps clarify things a whole lot. 
							
							C.S. Lewis calls this the "curse of knowledge":
							“Sometimes amateurs have more to teach than experts. “It often happens that two schoolboys can solve difficulties in their work for one another better than the master can,” wrote author C.S. Lewis. “The fellow-pupil can help more than the master because he knows less. The difficulty we want him to explain is the one he has recently met. The expert met it so long ago he has forgotten.” Watching amateurs at work can also inspire us to attempt the work ourselves.”
							AUSTIN KLEON, SHOW YOUR WORK!

							Also helps with self-promotion, though I don't particularly enjoy doing that all too much. 
						</p>
						<p>
							Some of my interests are: energy (I've majored in petroleum engineering), agriculture, medical AI, machine learning / deep learning, and music. Some of these I'll write about more than others.

						</p>
						<p>
							At that point, rather than pushing something superfluous to your users, you can give them something that will stick.
							You'll give them something they can identify with and be slanted to share with their companions and associates. Perhaps they'll even be slanted to work with you later on!
							Having an advancement technique that is excessively unbending isn't astute on the grounds that there is no space for solid spontaneous creation. Having the capacity to change your advertising procedure will prompt more deals and arrangements.
						</p>

          </article>
					<!-- Post -->
					<section class="posts">
						{% for post in site.posts %}
						{% assign mod3 = forloop.index | modulo: 3 %}
							<article>
								<header>
									<span class="date">{{ post.date | date_to_string }}</span>
									<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
								</header>
								<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
								<p>{{ post.excerpt }}</p>
								<ul class="actions">
									<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
								</ul>
							</article>
							<!-- {% if mod3 == 0 %}
							<article>
								<header>
									<h2><a href="#">Sponsored</a></h2>
								</header>

							</article>
							{% endif %} -->
						{% endfor %}

					</section>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

			<!-- Scripts -->
			{% include scripts-main.html %}
			{% include tracking.html %}

	</body>
</html>
